.cardWrap {
  display: flex;
  margin-top: 70px;
  gap: 24px;
  justify-content: center;

}
body {
  background-color: white;
}

.card{
  display: gird;
  grid-template-columns: repeat(5, 4fr);

}

.zoom {
 
  margin: 0
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

.headers{
  /* -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #8f24bd; */
  font-weight:800;
}


.main{
  display: grid;
  grid-template-rows: 25% ;
  background-color: white;
  gap: 1px;
  justify-items: center;
  
}


.owl{
  width:40px;
  height: 40px;
  margin-right:20px;
  margin-top: 5px;
}

.columns {
  display: flex;
}
.mainPhoto{
  width: 210px;
  height: 90px;
  border-radius: 5%;
}

.sourceIcon{
  width: 30px;
  height: 30px;
  margin-left: 70px;
}

.build{
  border-color: black;
  border-width: 10px;
}

.tempLogo {
  width:150px;
  height: 90px;
  padding-left: 60px;
}

.svg_icons {
  transform: scale(2.5);
  justify-content: center;
}

.cardImage {
  position: relative;
  width: 19px;
  height: auto;
  margin-left: 170px;
}

.text{
  color: black
}

.modalCard {
  width: 50%;
  display: flex;
  height: auto;

}

/* .modalCard {
  width: 100%;
  display: flex;
  min-height: 400px;

  max-height: 400px;
 
} */